---
---
//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  font-size: 100%;
  height: 100%;
}

body {
  background: #282a36; // Dracula background
  font-family: -system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #f8f8f2; // Dracula foreground
  line-height: 1.7;
  font-weight: 400;
  font-size: 18px;
  height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: -system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #f8f8f2; // Dracula foreground
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;
  text-align: center;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

@media (min-width: 769px){
	.post h2::before, .post h2::after {
	    content: "";
	    display: inline-block;
	    vertical-align: middle;
	    width: 46px;
	    height: 1px;
	    background: #6272a4; // Dracula selection
	    margin: 0px 30px;
	}
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: #f8f8f2; // Dracula foreground
}

p {
  margin: 15px 0;
}

table {
	padding: 0;
}

table tr {
	border-top: 1px solid #6272a4; // Dracula selection
	background-color: #44475a; // Dracula current line
	margin: 0;
	padding: 0;
}

table tr:nth-child(2n) {
	background-color: #282a36; // Dracula background
}

table tr th {
	font-weight: bold;
	border: 1px solid #6272a4; // Dracula selection
	text-align: left;
	margin: 0;
	padding: 6px 13px;
	color: #f8f8f2; // Dracula foreground
}

table tr td {
	border: 1px solid #6272a4; // Dracula selection
	text-align: left;
	margin: 0;
	padding: 6px 13px;
	color: #f8f8f2; // Dracula foreground
}

#search-input {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #6272a4; // Dracula selection
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px;
  background-color: #44475a; // Dracula current line
  color: #f8f8f2; // Dracula foreground
}

.share-box {
  font-weight: bold;
  color: #f8f8f2; // Dracula foreground
}

a {
  color: #8be9fd; // Dracula cyan
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: #8be9fd; // Dracula cyan
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

p > img {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.date {
  font-style: italic;
  color: #6272a4; // Dracula selection
}

// Specify the color of the selection
::-moz-selection {
  color: #f8f8f2; // Dracula foreground
  background: #6272a4; // Dracula selection
}
::selection {
  color: #f8f8f2; // Dracula foreground
  background: #6272a4; // Dracula selection
}

// Nicolas Gallagher's micro clearfix hack
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 25px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid #6272a4; // Dracula selection

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
    width: 70px;
    height: 70px;
    object-fit: cover;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: #f8f8f2; // Dracula foreground
  cursor: pointer;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
  text-align: left;

  @include mobile {
    text-align: center;
  }
}

.site-description {
  margin: -5px 0 0 0;
  color: #6272a4; // Dracula selection
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; 
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: #f8f8f2; // Dracula foreground
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: #8be9fd; // Dracula cyan
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid #6272a4; // Dracula selection
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    padding: 0.1em 1em;
    color: #6272a4; // Dracula selection
    font-size: 22px;
    font-style: italic;
    background-color: #44475a; // Dracula current line
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-container {
  min-height: 100%;
  position: relative;
}

.wrapper-main {
  padding-bottom: 134px;
}

.wrapper-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 89px;
  background-color: #44475a; // Dracula current line
}

footer {
  padding: 20px 0;
  text-align: center;
}

#bar {
    background: #282a36; // Dracula background
    height: 7px;
    background-size: cover;
    background-position: left 60%;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1000;
}

.pagination a, .pagination span {
  padding: 7px 18px;
  border: 1px solid #6272a4; // Dracula selection
  margin-left: -2px;
  margin-right: -2px;
  background-color: #44475a; // Dracula current line
  color: #f8f8f2; // Dracula foreground
}

.pagination a {
  &:hover {
    background-color: #6272a4; // Dracula selection
    color: #f8f8f2; // Dracula foreground
  }
}

.post-tags {
  text-align: center;
  line-height: 35px;
}

.post-tags a {
  font-size: 14.5px;
  padding: 2px 13px;
  border: none;
  background-color: #50fa7b; // Dracula green
  border-radius: 50px;
  color: #282a36; // Dracula background
}

pre {
  border: 1px solid #4b4b4b;
  border-radius: 8px;
}

// Carbon ads styling and remaining rules...

@import "darcula";
@import "svg-icons";
